*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f5f0;
}
.contenedor{
	width: 40%;
	height: 550px;
	padding: 1%;
	border: 2px solid black;
	margin:20px auto;
	border-radius: 4px;
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-template-rows: 180px repeat(6,1fr);

	grid-template-areas: " pantalla   pantalla   pantalla    pantalla"
	                     " historial  icono1     icono2      borrar1"
	                     " borrar2    parentesis porcentaje  dividir"
	                     " num7       num8       num9        multiplicar"
	                     " num4       num5       num6        resta"
	                     " num1       num2       num3        suma"
	                     " suma-resta  num0      punto       igual";
}
.contenedor div{
	background-color: #fff;
	box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}
.contenedor .pantalla{
	grid-area: pantalla;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor .historial{
	grid-area: historial;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor .icono1{
	grid-area: icono1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor .icono2{
	grid-area: icono2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor .borrar1{
	grid-area: borrar1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor .borrar2{
	grid-area: borrar2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff9933;
	font-size: 25px;
}
.contenedor .parentesis{
	grid-area: parentesis;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3377ff;
	font-size: 25px;
}
.contenedor .porcentaje{
	grid-area: porcentaje;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3377ff;
	font-size: 25px;
}
.contenedor .dividir{
	grid-area: dividir;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3377ff;
	font-size: 25px;
}
.contenedor .num7{
	grid-area: num7;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num8{
	grid-area: num8;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num9{
	grid-area: num9;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .multiplicar{
	grid-area: multiplicar;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3377ff;
	font-size: 25px;
}
.contenedor .num4{
	grid-area: num4;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num5{
	grid-area: num5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num6{
	grid-area: num6;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .resta{
	grid-area: resta;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3377ff;
	font-size: 25px;
}
.contenedor .num1{
	grid-area: num1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num2{
	grid-area: num2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num3{
	grid-area: num3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .suma{
	grid-area: suma;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3377ff;
	font-size: 25px;
}
.contenedor .suma-resta{
	grid-area: suma-resta;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .num0{
	grid-area: num0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .punto{
	grid-area: punto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4d4d4d;
	font-size: 25px;
}
.contenedor .igual{
	grid-area: igual;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3377ff;
	color: #fff;
	font-size: 25px;
}

